<nav class="flex items-center gap-6 mr-4">
<a class="text-slate-700 hover:text-[#1193d4] text-sm font-medium leading-normal" href="#">Home</a>
<a class="text-slate-700 hover:text-[#1193d4] text-sm font-medium leading-normal" href="#">Events</a>
<a class="text-slate-700 hover:text-[#1193d4] text-sm font-medium leading-normal" href="#">Groups</a>
<a class="text-slate-700 hover:text-[#1193d4] text-sm font-medium leading-normal" href="#">Classifieds</a>
<a class="text-slate-700 hover:text-[#1193d4] text-sm font-medium leading-normal" href="#">Directory</a>
</nav>