{% extends 'base.html' %}



{% block content %}
<div class="student-profile py-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card shadow-sm">
            <div class="card-header bg-transparent text-center">
              <img class="profile_img" src="{{ profile.profile_photo.url }}" alt="student dp">
              <h3>{{ profile.family_name }}</h3>
            </div>
            <div class="card-body">
              <p class="mb-0"><strong class="pr-1">Gender:</strong></p>
              <p class="mb-0"><strong class="pr-1">Contact:</strong></p>
              <p class="mb-0"><strong class="pr-1">Email:</strong></p>
              {% if request.user.id == profile.user.id %}
              <a class="btn btn-outline-secondary" href="{% url 'edit_profile' profile.pk %}">Edit profile</a>
              <a name="" id="" class="btn btn-dark" href="#" role="button" data-bs-toggle="modal" data-bs-target="#Modal">Register your business</a>
              {% else %}
              <p class="lead"> Reach out to me for a collaboration </p>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card shadow-sm">
            <div class="card-header bg-transparent border-0">
              <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Information</h3>
            </div>
            <div class="card-body pt-0">
              <table class="table table-bordered">
                <tr>
                  <th width="30%">Family Contact</th>
                  <td width="2%">:</td>
                  <td>{{ profile.family_email }}</td>
                </tr>
                <tr>
                  <th width="30%">Members</th>
                  <td width="2%">:</td>
                  <td>{{ profile.family_members}}</td>
                </tr>
                  <th width="30%">Religion</th>
                  <td width="2%">:</td>
                  <td>Group</td>
                </tr>
                <tr>
              </table>
            </div>
          </div>
            <div style="height: 26px"></div>
          <div class="card shadow-sm">
            <div class="card-header bg-transparent border-0">
              <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Other Information/Bio</h3>
            </div>
            <div class="card-body pt-0">
                <p>{{ profile.bio }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal">
    Launch demo modal
  </button> -->
<!-- 
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal{{ profile.id }}">
    
  </button> -->
  
  <!-- Modal -->
  <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Register Here:</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action=""  method="POST">
              {% csrf_token %}
              <div class="mb-2">
                {{ reg_form.name }}
              </div>  
              <div class="mb-2">
                {{ reg_form.neighbor }}
              </div> 
              <div class="mb-2">
                {{ reg_form.description }}
              </div> 
              <div class="mb-2">
                {{ reg_form.business_email }}
              </div> 
              <button type="submit" class="btn btn-outline-primary">Save</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="Modal{{ profile.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="" method="post">
              {% csrf_token %}
              <div class="mb-2">
                {{ ed_form.family_name }}
              </div>  
              <div class="mb-2">
                {{ ed_form.profile_photo }}
              </div> 
              <div class="mb-2">
                {{ ed_form.hood }}
              </div> 
              <div class="mb-2">
                {{ ed_form.family_email }}
              </div> 
              <div class="mb-2">
                {{ ed_form.family_members }}
              </div> 
              <button type="submit" class="btn btn-outline-primary">Save</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  

{% endblock %}
